# Credenciais do MinIO (seu Data Lake S3)
MINIO_ROOT_USER="user"
MINIO_ROOT_PASSWORD="password"

URL = "url"

POSTGRES_USER ="user"
POSTGRES_PASSWORD = "password"
POSTGRES_HOST = "localhost"
POSTGRES_PORT = "port"
POSTGRES_DB = "anp"

PGADMIN_DEFAULT_EMAIL = "email"
PGADMIN_DEFAULT_PASSWORD ="password"